body {
  background-color: #D4EEFB;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

main {
  margin-top: 15%;
}

header {
  text-align: center;
}

.headline {
  color: #E7B128;
  font-weight: 600;
  width: 100%;
}

h2 {
  color: #4c697b;
  font-weight: 500;
}

.background {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1000;
}

#map img {
  width: 100%
}

#map {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#map-grid {
  position: relative;
  width: 60%;
}

.direction {
  line-height: 0.9;
  font-weight: 700;
  color: #4c697b;
}

.marker {
  position: absolute;
  top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  height: 20%;
}

.location p {
  margin: 0;
  text-align: center;
  animation-name: fade-up;
  animation-duration: 0.3s;
  position: relative;
  font-size: 0.8em;
}

@keyframes squish-drop {
  0% {bottom: 4em;}
  50% {bottom: 0em; height: 2em;}
  75% {bottom: -0.6em; height: 1.4em;}
  100% {bottom: 0em; height: 2em;}
}

.loc-img-container {
  height: 2em;
  margin-bottom: 0.5em;
}

.loc-img{
  position: relative;
  animation-name: squish-drop;
  animation-duration: 0.3s;
  height: 2em;
  width: 1.6em;
}

.editor {
  padding: 1em;
  border-radius: 10px;
  background-color: #d9d9d9;
  animation-name: fade-in-background;
  animation-duration: 0.5s;
}

.editor .top {
  display: flex;
}

.editor input {
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 0.3em;
  position: relative;
  animation-name: fade-up;
}

.symbols {
  display: flex;
  justify-content: space-around;
}

.symbols img {
  position: relative;
  animation-name: fade-up;
}

.editor .options {
  display: flex;
  justify-content: space-around;
  margin-top: 0.2em;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  width: 4em;
  align-items: center;
  justify-content: flex-start;
}

@keyframes fade-up {
  0%   {top:20px; opacity: 0%;}
  100% {top:0px; opacity: 100%;}
}

@keyframes fade-in-background {
  0%   {background-color: transparent;}
  100% {background-color: #d9d9d9;}
}

.swatch {
  width: 1em;
  height: 1em;
  border-radius: 20%;
  margin: 0.1em;
  box-sizing: border-box;
  position: relative;
  animation-name: fade-up;
}

.times {
  display: flex;
  flex-wrap: wrap;
  width: 7em;
  justify-content: space-between;
}

.time {
  margin: 0.1em;
  font-size: 0.8em;
  background-color: #f3f3f3;
  border-radius: 5px;
  width: 4em;
  height: 1.3em;
  text-align: center;
  position: relative;
  animation-name: fade-up;
}