.mini-editor {
    display: flex;
    background-color: #d9d9d9;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);

    justify-content: space-around;
    width: 20vw;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.mini-editor svg {
    height: 1em;
    padding: 0 0.2em;
}

.pencil {
    opacity: 100%;
    transition: opacity;
    transition-duration: 0.3s;
}

.invisible {
    opacity: 0%;
}

.trash {
    position: relative;
    transition: all 0.3s;
    right: 0em;
}

.trash-confirm {
    right: 1.5em;
    transform: rotate(360deg);
}

.cross {
    position: absolute;
    right: 0.7em;
    animation: fade-in 0.3s;
    width: 1em;
}

@keyframes fade-in {
  0%   {opacity: 0%;}
  100% {opacity: 100%;}
}